.glyphicon {
    margin-right: 5px;
}

.wifi-off {
    font-size: 40px;
    color: gray;
}

.wifi-on {
    font-size: 40px;
    color: #47a447;
}

.wifi-symbol [foo],
.wifi-symbol {
    margin-left: 79px;
}

.wifi-symbol {
    display: none;
}

.wifi-symbol [foo],
.wifi-symbol {
    display: block;
    position: relative;
    top: 50%;
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-top: -65.25px;
    -ms-transform: rotate(-45deg) translate(-100px);
    -moz-transform: rotate(-45deg) translate(-100px);
    -o-transform: rotate(-45deg) translate(-100px);
    -webkit-transform: rotate(-45deg) translate(-100px);
    transform: rotate(-45deg) translate(-100px);
}

.wifi-symbol .wifi-circle {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: block;
    width: 100%;
    height: 100%;
    font-size: 3.57143px;
    position: absolute;
    bottom: 0;
    left: 0;
    border-color: #47a447;
    border-style: solid;
    border-width: 1em 1em 0 0;
    -webkit-border-radius: 0 100% 0 0;
    border-radius: 0 100% 0 0;
    opacity: 0.8;
    -o-animation: wifianimation 3s infinite;
    -moz-animation: wifianimation 3s infinite;
    -webkit-animation: wifianimation 3s infinite;
    animation: wifianimation 3s infinite;
}

.wifi-symbol .wifi-circle.first {
    -o-animation-delay: 800ms;
    -moz-animation-delay: 800ms;
    -webkit-animation-delay: 800ms;
    animation-delay: 800ms;
}

.wifi-symbol .wifi-circle.first.disabled {
    opacity: 1;
    border-color: gray;
    -o-animation: none;
    -moz-animation: none;
    -webkit-animation: none;
    animation: none;
}

.wifi-symbol .wifi-circle.second.disabled {
    width: 5em;
    height: 5em;
    opacity: 1;
    border-color: gray;
    -o-animation: none;
    -moz-animation: none;
    -webkit-animation: none;
    animation: none;
}

.wifi-symbol .wifi-circle.second {
    width: 5em;
    height: 5em;
    -o-animation-delay: 400ms;
    -moz-animation-delay: 400ms;
    -webkit-animation-delay: 400ms;
    animation-delay: 400ms;
}

.wifi-symbol .wifi-circle.third.disabled {
    width: 3em;
    height: 3em;
    opacity: 1;
    border-color: gray;
    -o-animation: none;
    -moz-animation: none;
    -webkit-animation: none;
    animation: none;
}

.wifi-symbol .wifi-circle.third {
    width: 3em;
    height: 3em;
}

.wifi-symbol .wifi-circle.fourth.disabled {
    width: 1em;
    height: 1em;
    opacity: 1;
    background-color: gray;
    border-color: gray;
    -o-animation: none;
    -moz-animation: none;
    -webkit-animation: none;
    animation: none;
}

.wifi-symbol .wifi-circle.fourth {
    width: 1em;
    height: 1em;
    opacity: 1;
    background-color: #47a447;
    -o-animation: none;
    -moz-animation: none;
    -webkit-animation: none;
    animation: none;
}

@-o-keyframes wifianimation {
    0% {
        opacity: 0.4;
    }
    5% {
        opactiy: 1;
    }
    6% {
        opactiy: 0.1;
    }
    100% {
        opactiy: 0.1;
    }
}

@-moz-keyframes wifianimation {
    0% {
        opacity: 0.4;
    }
    5% {
        opactiy: 1;
    }
    6% {
        opactiy: 0.1;
    }
    100% {
        opactiy: 0.1;
    }
}

@-webkit-keyframes wifianimation {
    0% {
        opacity: 0.4;
    }
    5% {
        opactiy: 1;
    }
    6% {
        opactiy: 0.1;
    }
    100% {
        opactiy: 0.1;
    }
}

.wificonnected {
    color: #47a447;
}

.wifinotconnected {
    color: gray;
}

.btn-glyphicon { padding:8px; background:#ffffff; margin-right:4px; }
.icon-btn { padding: 1px 15px 3px 2px; border-radius:50px;}