<a class="navbar-brand" [routerLink]="['/home/dashboard']">
  <img src="./assets/images/logo.png" height="20px" width="70px" />
</a>

<div class="nav navbar-top-links navbar-right">
  <li class="dropdown" *ngIf="user.earned_credit; else nocredit">
    <span class="badge">
      <i class="fa fa-money"> {{user.earned_credit-user.used_credit}}</i>
    </span>
    <span class="badge">
      <i (click)="refreshCoins()" class="fa fa-refresh clickable"></i>
    </span>
  </li>
  <ng-template #nocredit>
    <li class="dropdown" *ngIf="isAdmin === false">
      <span class="badge">
        <i class="fa fa-money">0</i>
      </span>
      <span class="badge">
        <i (click)="refreshCoins()" class="fa fa-refresh clickable"></i>
      </span>
    </li>
  </ng-template>
  <li class="dropdown" appDropdown>
    <a class="dropdown-toggle" role="button">
      <img *ngIf="user" height="20px" width="20px" [src-fallback]="['./assets/images/no-dp.png']" [src]="user.s3url+'?'+time" />
      <span *ngIf="user">
        {{user.providers.local.name}}
        <span class="caret"></span>
      </span>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a style="cursor: pointer;" [routerLink]="['./profile']">
          <i class="glyphicon glyphicon-user"></i>
          <span class="nav-link-text">Profile</span>
        </a>
      </li>
      <li *ngIf="isCustomer">
        <a style="cursor: pointer;" (click)="onGotoStore()">
          <i class="fa fa-cart-plus"></i>
          <span class="nav-link-text">Go to Store</span>
        </a>
      </li>
      <li *ngIf="!isCustomer ; else ifCustomer">
        <a style="cursor: pointer;" (click)="signOut()">
          <i class="glyphicon glyphicon-off"></i>
          <span class="nav-link-text">Logout</span>
        </a>
      </li>
      <ng-template #ifCustomer>
        <li>
          <a style="cursor: pointer;" (click)="signOutFromStore()">
            <i class="glyphicon glyphicon-off"></i>
            <span class="nav-link-text">Logout</span>
          </a>
        </li>
      </ng-template>
    </ul>
  </li>
</div>